html, body
  font-size: 18px

body
  font-family: 'Roboto', Helvetica Neue, Arial, sans-serif
  color: #333
  padding-top: 50px // = navbar height
  overflow-x: hidden

*
  -moz-box-sizing: border-box
  box-sizing: border-box

#main
  margin-bottom: 50px

h1
  margin: 0 -10000px 1rem -10000px
  padding: 1rem 10000px
  color:#FFFFFF
  background-color: #333
  font-weight: 100

h2
  margin-left: -1rem
  margin-right: -1rem
  padding: 0.75rem 1rem
  background-color: #EDEFF3

h3
  text-transform: uppercase
  font-size: 1.25rem

pre
  border: 0 none
  padding: 0

code
  color: #333
  background-color: #EDEFF3

img
  max-width: 100%

.navbar
  .navbar-brand.logo
    padding-top: 5px

    img
      width: auto
      height: 33px
      margin-top: 3px

.dropdown-menu
  font-size: inherit

#footer-nav .navbar-nav
  margin-left: -15px
  li
    text-align: center
#page-footer nav
  margin-bottom: 0

#fork-on-github
  pointer-events: none
  a
    pointer-events: auto
    position: relative
    padding: 0.3rem 2rem
    color: #fff
    background: #777
    text-decoration: none
    text-align: center
    font-weight: 100
    font-size: 0.8rem
  a:hover
    color: #fff
    background: #2A6496

@media (min-width: 767px)
  #page-header > nav
    height: 50px

  #fork-on-github
    position: fixed
    display: block
    top: 0
    right: 0
    width: 250px
    height: 250px
    overflow: hidden
    z-index: 9999
    a
      width: 100%
      position: absolute
      top: 21%
      right: -21%
      -webkit-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      -moz-transform: rotate(45deg)
      -o-transform: rotate(45deg)
      transform: rotate(45deg)
      box-shadow: 4px 4px 10px rgba(0,0,0,0.25)
